@use "../mixins" as *;
@use "../variables" as *;

//BIG button
@keyframes arrow-off {
  from {
    padding-left: 2.75rem;
  }
  to {
    padding-left: 1.5rem;
  }
}

@keyframes arrow {
  from {
    padding-left: 1.5rem;
  }
  to {
    padding-left: 2.75rem;
  }
}

.button-arrow {
  @include button-arrow(0.75rem, 2rem, 1.5);

  svg {
    animation-name: arrow-off;
    animation-duration: 0.3s;
    padding-left: 1.5rem;
    padding-right: 0.75rem;
  }

  &:hover {
    svg {
      animation-name: arrow;
      animation-duration: 0.3s;
      padding-left: 2.75rem;
    }
  }
}

//SMALL button
@keyframes arrow-off-small {
  from {
    padding-left: 2rem;
  }
  to {
    padding-left: 1rem;
  }
}

@keyframes arrow-small {
  from {
    padding-left: 1rem;
  }
  to {
    padding-left: 2rem;
  }
}

.button-arrow-small {
  @include button-arrow(0.5rem, 1.5rem, 1.2);

  svg {
    animation-name: arrow-off-small;
    animation-duration: 0.3s;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  &:hover {
    svg {
      animation-name: arrow-small;
      animation-duration: 0.3s;
      padding-left: 2rem;
    }
  }
}