@use "../mixins" as *;
@use "../variables" as *;

#about,
#featured {
  padding-bottom: 2rem;

  h2 {
    color: $primary;
    font-family: $font-primary;
    font-weight: $bold;
    font-size: 2.5rem;
  }

  h3 {
    margin-bottom: 0;
    color: $dark;
    font-family: $font-primary;
    font-size: 1.5rem;
    margin: 1.5rem 0 0.5rem 0;
  }

  .project {
    margin: 1rem 0;

    h3 {
      margin-top: 0.5rem;
    }

    a {
      color: $dark;
      margin-bottom: 3rem;
    }
  }

  .socials {
    @include socials($primary, 0, 4rem);
    margin: 3rem 0;
    padding-left: 0.75rem;
  }
}

#about {
  h2 {
    margin-bottom: 0.5rem;
  }
}