@use './scss/variables' as *;
@use './scss/mixins' as *;

@use './scss/components/buttons';
@use './scss/components/footer';
@use './scss/components/header';
@use './scss/components/projects-grid';
@use './scss/components/carousel';
@use './scss/components/two-columns';

@use './scss/layouts/featured-about';
@use './scss/layouts/landing';
@use './scss/layouts/projects';
@use './scss/layouts/single-project';
@use './scss/layouts/loading';
@use './scss/layouts/error404';

body {
    background-color: $light;
    font-size: 1.2rem;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}