@use './scss/variables' as *;
@use './scss/mixins' as *;

@use './scss/components/buttons';
@use './scss/components/footer';
@use './scss/components/header';
@use './scss/components/projects-grid';

@use './scss/layouts/about';
@use './scss/layouts/featured';
@use './scss/layouts/landing';
@use './scss/layouts/projects';
@use './scss/layouts/single-project';

body {
    background-color: $light;
    font-size: 1.2rem;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}