@use "./variables" as *;
@use "./mixins" as *;

@keyframes arrow-off {
from {padding-left: 3rem;}
to {padding-left: 1.5rem;}
}

@keyframes arrow {
    from {padding-left: 1.5rem;}
    to {padding-left: 3rem;}
}

.button-arrow {
    @include button-arrow;

    svg {
        animation-name: arrow-off;
        animation-duration: 0.3s;
        padding-left: 1.5rem;
        padding-right: 0.75rem;
    }

}

//add prefers reduced motion mq
.button-arrow:hover {
    @include button-arrow;

    svg {
        animation-name: arrow;
        animation-duration: 0.3s;
        padding-left: 3rem;
        padding-right: 0.75rem
    }
}