@use "./variables" as *;
@use "./mixins" as *;

@keyframes button-width-off{
from {width: 18rem;}
to {width: 15.75rem;}
}

@keyframes arrow-off {
from {padding-left: 2.75rem;}
to {padding-left: 1rem;}
}

@keyframes button-width {
from {width: 15.75rem;}
to {width: 18rem;}
}

@keyframes arrow {
    from {padding-left: 1rem;}
    to {padding-left: 2.75rem;}
}

.button-arrow {
    @include button-arrow;
    animation-name: button-width-off;
    animation-duration: 0.3s;

    svg {
        animation-name: arrow-off;
        animation-duration: 0.3s;
    }

}

//add prefers reduced motion mq
.button-arrow:hover {
    animation-name: button-width;
    animation-duration: 0.3s;
    width: 18rem;

    svg {
        animation-name: arrow;
        animation-duration: 0.3s;
        padding-left: 2.75rem;
    }
}