@use "./variables" as *;

#featured,
#about {
    h2 {
        color: $primary;
        font-family: $font-primary;
        font-weight: $bold;
        font-size: 2.5rem;
    }

    .project {

        margin: 1rem 0;

        h3 {
            margin-top: 0;
        }

        a {
            color: $dark;
        }
    }
}