@use "./variables" as *;
@use "./mixins" as *;

#landing {
    height: 90vh;
    display: grid;
    grid-template-rows: 250px 150px 200px;
    place-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;

    h1 {
        font-family: $font-primary;
        font-weight: $bold;
        font-size: 4rem;
        color: $primary;
        text-transform: uppercase;
    }

    .button-arrow {
        @include button-arrow;
        animation-name: button-width-off;
        animation-duration: 0.3s;

        svg {
            animation-name: arrow-off;
            animation-duration: 0.3s;
        }

    }

    //add prefers reduced motion mq
    .button-arrow:hover {
        animation-name: button-width;
        animation-duration: 0.3s;
        width: 18rem;

        svg {
            animation-name: arrow;
            animation-duration: 0.3s;
            padding-left: 2.75rem;
        }
    }

    @keyframes button-width-off{
    from {width: 18rem;}
    to {width: 15.75rem;}
    }

    @keyframes arrow-off {
    from {padding-left: 2.75rem;}
    to {padding-left: 1rem;}
    }

    @keyframes button-width {
    from {width: 15.75rem;}
    to {width: 18rem;}
    }

    @keyframes arrow {
        from {padding-left: 1rem;}
        to {padding-left: 2.75rem;}
    }

    @media(min-width: 33.75em){
        grid-template-rows: 150px 100px 150px;
        max-width: 46em;

       h1{
        font-size: 5rem;
       }
    }
}