@use "./variables" as *;
@use "./mixins" as *;

#landing {
    height: 90vh;
    display: grid;
    grid-template-rows: 250px 150px 200px;
    place-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;

    h1 {
        font-family: $font-primary;
        font-weight: $bold;
        font-size: 4rem;
        color: $primary;
        text-transform: uppercase;
    }

    @media(min-width: 33.75em){
        grid-template-rows: 150px 100px 150px;
        max-width: 46em;

       h1{
        font-size: 5rem;
       }
    }
}