@use "./variables" as *;

//Button style
@mixin button-arrow {
    padding: 0.75rem;
    width: max-content;
    background-color: $primary;
    
    a {
        color: $light;
        font-family: $font-primary;
        font-weight: $bold;
        font-size: 2rem;
        text-decoration: none;
        display: inline-block;
    }

    svg {
        fill: $light;
        scale: 1.5;
        //padding: 0 0.75rem 0 1.5rem;
    }
}