@use "./variables" as *;

//Button style
@mixin button-arrow($padding, $font-size, $scale) {
    //padding: 0.75rem;
    padding: $padding;
    width: max-content;
    height: max-content;
    background-color: $primary;
    
    a {
        color: $light;
        font-family: $font-primary;
        font-weight: $bold;
        font-size: $font-size;
        text-decoration: none;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    svg {
        fill: $light;
        scale: $scale;
    }
}