@use "./variables" as *;
@use "./mixins" as *;

#single-project {

    .single-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 1rem;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}