//Colors
$primary: #2A5825;
//$light: #FDFBF4;
$light: #FEFBEA;
$dark: #26272F;

//Typography
$font-primary: 'Space Grotesk', 'Helvetica', 'sans-serif';
$font-secondary: 'Lato', 'Helvetica', 'sans-serif';
$reg: 400;
$bold: 700;